@page "/admin/accidents/details/{id:long}"

<h3 class="text-white text-center p-1" style="background-color: rgb(81, 107, 82);">Details</h3>

<table class="table table-sm table-bordered table-striped">
    <tbody>
        <tr><th>Crash ID:</th><td>@a.CRASH_ID</td></tr>
        <tr><th>Month:</th><td>@a.MONTH</td></tr>
        <tr><th>Day of week:</th><td>@a.DAY_OF_WEEK</td></tr>
        <tr><th>Year:</th><td>@a.YEAR</td></tr>
        <tr><th>Hour:</th><td>@a.HOUR</td></tr>
        <tr><th>Route:</th><td>@a.ROUTE</td></tr>
        <tr><th>Milepoint:</th><td>@a.MILEPOINT</td></tr>
        <tr><th>Latitude:</th><td>@a.LAT_UTM_Y</td></tr>
        <tr><th>Longitude:</th><td>@a.LONG_UTM_X</td></tr>
        <tr><th>Main Road Name:</th><td>@a.MAIN_ROAD_NAME</td></tr>
        <tr><th>City:</th><td>@a.CITY</td></tr>
        <tr><th>County Name:</th><td>@a.COUNTY_NAME</td></tr>
        <tr><th>Crash Severity ID:</th><td>@a.CRASH_SEVERITY_ID</td></tr>
        <tr><th>Work Zone Related:</th><td>@a.WORK_ZONE_RELATED</td></tr>
        <tr><th>Pedestrian Involved:</th><td>@a.PEDESTRIAN_INVOLVED</td></tr>
        <tr><th>Motorcycle Involved:</th><td>@a.MOTORCYCLE_INVOLVED</td></tr>
        <tr><th>Improper Restraint:</th><td>@a.IMPROPER_RESTRAINT</td></tr>
        <tr><th>Unrestrained:</th><td>@a.UNRESTRAINED</td></tr>
        <tr><th>DUI:</th><td>@a.DUI</td></tr>
        <tr><th>Intersection Related:</th><td>@a.INTERSECTION_RELATED</td></tr>
        <tr><th>Wild Animal Related:</th><td>@a.WILD_ANIMAL_RELATED</td></tr>
        <tr><th>Domestic Animal Related:</th><td>@a.DOMESTIC_ANIMAL_RELATED</td></tr>
        <tr><th>Overturn Rollover:</th><td>@a.OVERTURN_ROLLOVER</td></tr>
        <tr><th>Commercial Motor Involved:</th><td>@a.COMMERCIAL_MOTOR_VEH_INVOLVED</td></tr>
        <tr><th>Teenage Driver Involved:</th><td>@a.TEENAGE_DRIVER_INVOLVED</td></tr>
        <tr><th>Older Driver Involved:</th><td>@a.OLDER_DRIVER_INVOLVED</td></tr>
        <tr><th>Night Dark Condition ID:</th><td>@a.NIGHT_DARK_CONDITION</td></tr>
        <tr><th>Single Vehicle:</th><td>@a.SINGLE_VEHICLE</td></tr>
        <tr><th>Distracted Driving:</th><td>@a.DISTRACTED_DRIVING</td></tr>
        <tr><th>Drowsy Driving:</th><td>@a.DROWSY_DRIVING</td></tr>
        <tr><th>Roadway Departure:</th><td>@a.ROADWAY_DEPARTURE</td></tr>
    </tbody>
</table>

<NavLink class="btn btn-dark" href="@EditUrl">Edit</NavLink>
<NavLink class="btn btn-light text-dark" href="/admin/accidents">Back</NavLink>

@code {

    [Inject]

    public INTEX2.Models.IAccidentsRepository repo { get; set; }

    [Parameter]
    public long Id { get; set; }

    public INTEX2.Models.Accident a { get; set; }

    protected override void OnParametersSet()
    {
        a = repo.mytable.FirstOrDefault(x => x.CRASH_ID == Id);
    }

    public string EditUrl => $"/admin/accidents/edit/{a.CRASH_ID}";

}
